/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.bottomnav {
  background: #081920; }

.header-top {
  background: #102d3a; }

.popup-over .popup-title {
  color: rgba(255, 255, 255, 0.7); }
  .popup-over .popup-title .icon {
    color: inherit; }
@media (min-width: 992px) {
  .popup-over.userinfo-selector .popup-content .dropdown-item {
    color: rgba(255, 255, 255, 0.7); }
    .popup-over.userinfo-selector .popup-content .dropdown-item::before {
      color: rgba(255, 255, 255, 0.7); }
    .popup-over.userinfo-selector .popup-content .dropdown-item:focus, .popup-over.userinfo-selector .popup-content .dropdown-item:hover {
      color: #fe4254; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #search_widget .popup-title {
    display: block;
    overflow: hidden;
    position: relative; }
    #search_widget .popup-title .search {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #search_widget .popup-title:before, #search_widget .popup-title:after {
      content: '';
      display: block;
      background: #000000;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translateY(50px) rotate(45deg);
      -moz-transform: translateY(50px) rotate(45deg);
      -ms-transform: translateY(50px) rotate(45deg);
      -o-transform: translateY(50px) rotate(45deg);
      transform: translateY(50px) rotate(45deg); }
    #search_widget .popup-title:before {
      height: 15px;
      width: 1px; }
    #search_widget .popup-title:after {
      width: 15px;
      height: 1px; }
    #search_widget .popup-title:hover:before, #search_widget .popup-title:hover:after {
      background: #fe4254; }
  #search_widget .popup-content {
    position: absolute;
    top: auto;
    bottom: 0;
    display: none;
    background: #FFFFFF;
    right: 100%;
    left: auto; }
    .rtl #search_widget .popup-content {
      right: auto;
      left: 100%; }
  #search_widget.open .popup-title:before, #search_widget.open .popup-title:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg); }
  #search_widget.open .popup-title .search {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px); }
  #search_widget .popup-title {
    margin: 0px 0px 0px 0px; }
    .rtl #search_widget .popup-title {
      margin: 0px 0px 0px 0px; }
  #search_widget .popup-content {
    top: 100%;
    border: none;
    bottom: auto;
    right: 0;
    left: auto;
    padding: 0px 40px 0px 15px;
    -moz-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -webkit-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -o-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -ms-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35); }
    .rtl #search_widget .popup-content {
      right: auto;
      left: 0; }
    .rtl #search_widget .popup-content {
      padding: 0px 15px 0px 40px; }
  #search_widget.open .popup-title .search {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px); }
  #search_widget form button[type=submit] {
    right: 12px; }
    .rtl #search_widget form button[type=submit] {
      left: 12px;
      right: auto; } }
@media (max-width: 991px) {
  #search_widget .popup-title {
    display: block;
    overflow: hidden;
    position: relative; }
    #search_widget .popup-title .search {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #search_widget .popup-title:before, #search_widget .popup-title:after {
      content: '';
      display: block;
      background: #000000;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: translateY(50px) rotate(45deg);
      -moz-transform: translateY(50px) rotate(45deg);
      -ms-transform: translateY(50px) rotate(45deg);
      -o-transform: translateY(50px) rotate(45deg);
      transform: translateY(50px) rotate(45deg); }
    #search_widget .popup-title:before {
      height: 15px;
      width: 1px; }
    #search_widget .popup-title:after {
      width: 15px;
      height: 1px; }
    #search_widget .popup-title:hover:before, #search_widget .popup-title:hover:after {
      background: #fe4254; }
  #search_widget .popup-content {
    position: absolute;
    top: auto;
    bottom: 0;
    display: none;
    background: #FFFFFF;
    right: 100%;
    left: auto; }
    .rtl #search_widget .popup-content {
      right: auto;
      left: 100%; }
  #search_widget.open .popup-title:before, #search_widget.open .popup-title:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg); }
  #search_widget.open .popup-title .search {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px); }
  #search_widget .popup-title {
    margin: 0px 0px 0px 0px; }
    .rtl #search_widget .popup-title {
      margin: 0px 0px 0px 0px; }
  #search_widget .popup-content {
    top: 100%;
    border: none;
    bottom: auto;
    right: 0;
    left: auto;
    padding: 0px 40px 0px 15px;
    -moz-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -webkit-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -o-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    -ms-box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 4px 15px 0px rgba(102, 102, 102, 0.35); }
    .rtl #search_widget .popup-content {
      right: auto;
      left: 0; }
    .rtl #search_widget .popup-content {
      padding: 0px 15px 0px 40px; }
  #search_widget.open .popup-title .search {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px); }
  #search_widget form button[type=submit] {
    right: 12px; }
    .rtl #search_widget form button[type=submit] {
      left: 12px;
      right: auto; } }
@media (max-width: 575px) {
  #search_widget {
    position: static; }
    #search_widget .popup-content {
      width: auto;
      right: 15px;
      left: auto; }
      .rtl #search_widget .popup-content {
        right: auto;
        left: 15px; } }
@media (min-width: 1200px) {
  #search_widget .popup-content {
    display: block !important; }
  #search_widget form input[type=text] {
    color: rgba(255, 255, 255, 0.7); }
    #search_widget form input[type=text]::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    #search_widget form input[type=text]::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    #search_widget form input[type=text]:-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    #search_widget form input[type=text]:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
  #search_widget form button[type=submit] {
    right: 15px;
    color: rgba(255, 255, 255, 0.7); }
    .rtl #search_widget form button[type=submit] {
      left: 15px;
      right: auto; } }
#search_widget.open .popup-title:before, #search_widget.open .popup-title:after {
  background: rgba(255, 255, 255, 0.7); }

@media (min-width: 992px) {
  .leo-megamenu {
    width: 100%; }
    .leo-megamenu .navbar-nav {
      display: block;
      float: initial; }
      .leo-megamenu .navbar-nav > li > a {
        color: #FFFFFF; } }

.box-top-header {
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  @media (min-width: 992px) {
    .box-top-header {
      padding-left: 15px;
      padding-right: 15px; } }
  .box-top-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-top-header .left-top-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
  .box-top-header .right-top-header {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  @media (min-width: 992px) {
    .box-top-header .userinfo-selector .popup-title {
      display: none; }
    .box-top-header .userinfo-selector .popup-content {
      border: none;
      position: static;
      font-size: 0px;
      display: block !important;
      background: transparent;
      -webkit-animation: none;
      -moz-animation: none;
      animation: none;
      margin-left: -15px;
      margin-right: -15px; }
      .box-top-header .userinfo-selector .popup-content li {
        border-bottom: none;
        display: inline-block;
        vertical-align: middle; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .box-top-header .userinfo-selector .popup-content li.check-out, .box-top-header .userinfo-selector .popup-content li.my-account {
        display: none; } }
  @media (min-width: 992px) {
      .box-top-header .userinfo-selector .popup-content .dropdown-item {
        border: none;
        display: block;
        padding: 13px 15px; }
        .box-top-header .userinfo-selector .popup-content .dropdown-item:before {
          display: inline-block; }
        .box-top-header .userinfo-selector .popup-content .dropdown-item span:not(.ap-total) {
          width: auto;
          display: inline-block; }
        .box-top-header .userinfo-selector .popup-content .dropdown-item:hover {
          background: transparent; }
        .box-top-header .userinfo-selector .popup-content .dropdown-item span {
          white-space: nowrap; } }
  .box-top-header .userinfo-selector .popup-content {
    right: 0px;
    left: auto; }
    .rtl .box-top-header .userinfo-selector .popup-content {
      right: auto;
      left: 0px; }

.box-bottom-header {
  position: relative;
  margin-left: 0px;
  margin-right: 0px; }
  @media (min-width: 992px) {
    .box-bottom-header {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .box-bottom-header {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; } }
  .box-bottom-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-bottom-header .left-bottom-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
    @media (max-width: 1199px) {
      .box-bottom-header .left-bottom-header {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; } }
  .box-bottom-header .center-bottom-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
    @media (max-width: 991px) {
      .box-bottom-header .center-bottom-header {
        position: static; } }
    .box-bottom-header .center-bottom-header .ApMegamenu {
      width: 100%; }
    @media (max-width: 991px) {
      .box-bottom-header .center-bottom-header .leo-megamenu .navbar-header {
        padding: 15px 0; }
      .box-bottom-header .center-bottom-header .leo-megamenu .navbar-toggler {
        color: rgba(255, 255, 255, 0.7);
        border-color: rgba(255, 255, 255, 0.7); } }
  .box-bottom-header .right-bottom-header {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  @media (min-width: 992px) {
    .box-bottom-header .group-vertical-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      padding: 0; } }
  @media (max-width: 991px) {
    .box-bottom-header .group-vertical-menu .ApMegamenu {
      width: 100%; } }
  .box-bottom-header .logo {
    padding: 20px 0; }
  .box-bottom-header #cart-block .totals-cart {
    display: none; }
  .box-bottom-header #cart-block.active a {
    color: #FFFFFF; }
    .box-bottom-header #cart-block.active a:hover {
      color: #fe4254; }
  .box-bottom-header #cart-block .cart-preview {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .box-bottom-header #cart-block .cart-preview {
        padding-top: 0px;
        padding-bottom: 0px; } }
    .box-bottom-header #cart-block .cart-preview .shopping-cart {
      display: none;
      background-color: #f63899;
      background-image: -moz-linear-gradient(90deg, #f63899 0%, #fe4254 100%);
      background-image: -webkit-linear-gradient(90deg, #f63899 0%, #fe4254 100%);
      background-image: -o-linear-gradient(90deg, #f63899 0%, #fe4254 100%);
      background-image: -ms-linear-gradient(90deg, #f63899 0%, #fe4254 100%);
      background-image: linear-gradient(90deg, #f63899 0%, #fe4254 100%); }
      .box-bottom-header #cart-block .cart-preview .shopping-cart.after {
        display: inline-block; }
  .box-bottom-header #cart-block .cart-products-count {
    color: #FFFFFF;
    font-weight: bold; }
    @media (max-width: 1399px) and (min-width: 1200px) {
      .box-bottom-header #cart-block .cart-products-count {
        display: none; } }
  .box-bottom-header #cart-block .header {
    color: #fe4254; }

#index #main {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px; }
  @media (max-width: 991px) {
    #index #main {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px; } }
#index #content-wrapper {
  padding: 0; }
#index #wrapper {
  background: #f2f2f2; }
  @media (min-width: 1200px) {
    #index #wrapper {
      margin: 0 0 0 250px; }
      .rtl #index #wrapper {
        margin: 0 250px 0 0; } }
  @media (min-width: 992px) {
    #index #wrapper {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; } }
  @media (max-width: 991px) {
    #index #wrapper #content-wrapper {
      padding-top: 0; } }
  #index #wrapper > .row {
    margin-left: 0px;
    margin-right: 0px; }
#index .footer-container {
  background: #f2f2f2;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 991px) {
    #index .footer-container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    #index .footer-container {
      margin-left: 250px; }
      .rtl #index .footer-container {
        margin-right: 250px;
        margin-left: inherit; } }
  @media (min-width: 992px) {
    #index .footer-container {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; } }
@media (min-width: 992px) {
  #index .vertical-top-menu {
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .rtl #index .vertical-top-menu {
      right: 0;
      left: auto; } }
#index .vertical-top-menu .title_block {
  color: #FFFFFF;
  background-color: #f7389a;
  background-image: -moz-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
  background-image: -webkit-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
  background-image: -o-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
  background-image: -ms-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
  background-image: linear-gradient(90deg, #f7389a 0%, #fe4254 100%); }
@media (min-width: 1200px) {
  #index.active-vertical-menu #wrapper {
    margin: 0 0 0 0; }
    .rtl #index.active-vertical-menu #wrapper {
      margin: 0 0 0 0; } }
@media (min-width: 1200px) {
  #index.active-vertical-menu #footer {
    margin-left: 0px; }
    .rtl #index.active-vertical-menu #footer {
      margin-right: 0px;
      margin-left: inherit; } }

@media (min-width: 992px) {
  #index.active-vertical-menu .icon-action-vertical-menu {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    .rtl #index.active-vertical-menu .icon-action-vertical-menu {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
  #index.active-vertical-menu .vertical-top-menu {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
    .rtl #index.active-vertical-menu .vertical-top-menu {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }

  .icon-action-vertical-menu {
    position: fixed;
    left: -50px;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 99;
    text-align: center;
    font-style: normal;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #f7389a;
    background-image: -moz-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
    background-image: -webkit-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
    background-image: -o-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
    background-image: -ms-linear-gradient(90deg, #f7389a 0%, #fe4254 100%);
    background-image: linear-gradient(90deg, #f7389a 0%, #fe4254 100%); }
    .rtl .icon-action-vertical-menu {
      right: -50px;
      left: auto; }
    .icon-action-vertical-menu::before {
      content: "\f0c9";
      display: inline-block;
      font-size: 20px;
      color: #FFFFFF;
      font-family: "FontAwesome"; } }
body.layout-boxed-lg .box-bottom-header #cart-block .cart-products-count {
  display: none; }

/*# sourceMappingURL=headerposition1498506155.css.map */
